<div id="container">
  <div id="game">
    <div class="board">
      <div *ngFor="let row of board; let rowIndex = index" class="row">
        <div
          *ngFor="let cell of row; let colIndex = index"
          class="cell"
          [class.empty]="isCellEmpty(cell.value)"
          (click)="revealCell(rowIndex, colIndex)"
          (contextmenu)="flagCell($event, rowIndex, colIndex)"
          [ngClass]="{
           'hidden': !cell.revealed,
           'revealed': cell.revealed,
           'mine': cell.value === -1 && cell.revealed,
           'number-1': cell.value === 1 && cell.revealed,
           'number-2': cell.value === 2 && cell.revealed,
           'number-3': cell.value === 3 && cell.revealed,
           'number-4': cell.value === 4 && cell.revealed,
           'number-5': cell.value === 5 && cell.revealed,
           'number-6': cell.value === 6 && cell.revealed
         }"
        >
          {{ cell.revealed ? (cell.value === 0 ? '' : cell.value) : (cell.flagged ? 'F' : '') }}
        </div>
      </div>

    </div>
    <p>{{time}}</p>
  </div>
  <div class="info">
    <label for="rows">Liczba wierszy:</label>
    <input type="number" id="rows" [(ngModel)]="rows">

    <label for="cols">Liczba kolumn:</label>
    <input type="number" id="cols" [(ngModel)]="columns">

    <label for="mines">Liczba min:</label>
    <input type="number" id="mines" [(ngModel)]="mines">
  </div>
  <div class="startGame">
    <button (click)="startNewGame()">Nowa gra</button>
  </div>
</div>
